#week {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#mondayUpper, #mondayDown, #tuesday, #wednesdayUpper, #wednesdayDown {
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.lesson-card {
    width: 300px;
    height: auto;
}

.time {
    background-color: rgb(124, 124, 124);
    border-radius: 1rem;
}

@media(max-width:425px) {
    #mondayUpper, #mondayDown, #tuesday, #wednesdayUpper, #wednesdayDown {
        flex-direction: column;
    }

    .lesson-card {
        width: auto;
        height: auto;
    }
}