nav {
    font-size: 1.5rem;
    background-color: rgb(46, 46, 46);
    padding-bottom: 2rem;
}

nav a {
    margin-right: 1rem;
}

#week {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.check {
    padding-bottom: 3rem;
}

span {
    font-size: 2rem;
}

#mondayUpper, #mondayDown, #tuesday, #wednesdayUpper, #wednesdayDown, #thursday, #fridayUpper, #fridayDown {
    justify-content: space-between;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
}

.lesson-card {
    width: 300px;
    height: auto;
}

.time {
    background-color: rgb(124, 124, 124);
    border-radius: 1rem;
}

@media(max-width:425px) {
    #mondayUpper, #mondayDown, #tuesday, #wednesdayUpper, #wednesdayDown, #thursday, #fridayUpper, #fridayDown {
        flex-direction: column;
    }

    .lesson-card {
        width: auto;
        height: auto;
    }

    span {
        font-size: 1.5rem;
    }
}